* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #1a1c1e;
}
.header {
  text-align: center;
  background-color: #121214;
  width: 100%;
  padding: 25px 0px;
}
.header p {
  font-size: xx-large;
  color: white;
  font-weight: bold;
}
.main-course-container {
  /* width: 90%; */
  height: auto;
  /* background-color: #c6c4c3; */
  margin: 50px auto;
  padding: 25px 50px;
  border-radius: 5px;
  /* box-shadow: 0 0 50px black; */
}

.course-container {
  /* background-color: white; */
  margin: 10px 0;
  border-radius: 5px;
  padding: 30px 60px;
  /* box-shadow: 0 0 1px grey; */
  border: 1px solid #494851;
  transition: 2s;
  color: white;
}
#day {
  font-size: 30px;
  margin-top: 20px;
  font-family: "Garamond";
  font-weight: bold;
  color: white;
}
#add-button {
  position: fixed;
  top: 12%;
  right: 10%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  font-size: 50px;
  color: white;
  text-align: center;
  background: #52007b;
  border: 1px solid #494851;
  cursor: pointer;
}
#remove-button {
  float: right;
  margin-top: 15px;
  padding: 0 20px;
  background-color: #52007b;
  color: white;
  border: 1px solid #494851;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}
#edit-button {
  float: right;
  margin-top: 15px;
  padding: 0 20px;
  background-color: #52007b;
  color: white;
  border: 1px solid #494851;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}
.hidden {
  position: absolute;
  top: 100%;
}
.form {
  position: fixed;
  width: 30%;
  height: 70%;
  top: 200%;
  left: 30%;
  background-color: #121214;
  border: 1px solid #494851;
  padding: 80px 100px;
  filter: brightness(100%);
  transition: 0.5s;
}
.form .header {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #52007b;
}
.form #close-button {
  font-family: "Arial";
  position: absolute;
  color: white;
  font-size: 20px;
  right: 15px;
  top: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form label {
  font-size: 30px;
  color: white;
  font-family: "Arial";
}
.form input[type="text"],
.form input[type="time"],
select {
  height: 30px;
  width: 100%;
  font-size: 30px;
  color: white;
  background-color: #1a1c1e;
  margin: 15px 0;
  padding: 5px 10px;
}
.form input[type="text"] {
  font-size: large;
}
select {
  height: 45px;
}
optgroup {
  font-family: "Arial";
}
.form input[type="submit"] {
  padding: 10px 30px;
  height: 45px;
  font-size: 20px;
  margin-top: 25px;
  font-family: "Arial";
  border: 1px solid #494851;
  background-color: #1a1c1e;
  color: white;
}

@media only screen and (min-width: 768px) {
  /*For Desktop*/
  .main-course-container {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /*For tablet*/
  .main-course-container {
    width: 90%;
  }
}
